.BigDiv{
    text-align: center;
    background: black;
    }
    
    
    .BigDiv div{
    display: inline-block;
    font-size: 60px;
    line-height: normal;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
    vertical-align: middle;
    }
    
    .BigDiv .icon {
    vertical-align: middle;
    }
    
    /* 
    
        You can write your own styles here...
        
        
        ...Or you can use the import command to include 
        other sylesheets into your bunde as well, e.j:
        
        import 'relative/path/to/stylesheet.scss';
    
    */